@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-gray-900;
    font-family: 'Segoe UI', 'Tahoma', 'Arial', sans-serif;
  }
}

@layer utilities {
  .rtl-flip {
    transform: scaleX(-1);
  }
}
